/* common slyle */
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
section{
    margin-bottom: 100px;
}
section p{
    line-height: 24px;
    font-size: 18px;
}
/* header style */
.header-section{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.half-item{
    width: 45%;
    margin-left: 30px;
}
.half-item h1{
    font-size: 50px;
}
.user-name span{
    color: rgb(236, 63, 144);
}
.half-item img{
    width: 85%;
}
/* flex display and big dream section style */
.flexible-container{
    display: flex;
    justify-content: center;
}
.btn-link{
    background-image:  linear-gradient(rgb(243, 140, 197), rgb(223, 46, 155));
    color: #fff;
    text-decoration: none;
    padding: 10px 22px;
    border-radius: 4px;
}
.bigdream-section{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}
/* experience-section style */
.Experience-section h1{
    font-size: 50px;
}
.Experience-section .exp-bg h2{
    font-size: 40px;
}
.exp-bg{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat; 
    background-position: left center;
}
.Experience-section h4{
    color: rgb(245, 182, 9);
}
.Experience-section .half-item {
    box-shadow: 5px 5px 5px 5px #888888;
    width: 45%;
    margin: 70px;
    padding: 10px 22px;
}
.half-item.full-stack{
    border-left: 8px solid;
    border-image: linear-gradient(rgb(235, 175, 84), rgb(250, 114, 3));
    border-image-slice: 1;
}

.half-item.baby-web{
    border-left: 8px solid;
    border-image: linear-gradient(rgb(6, 2, 248), rgb(5, 253, 253));
    border-image-slice: 1;
}
/* footer-section */
.footer-section{
    text-align: center;
}